#titulo{ /*se refiere a id="titulo" del html*/
    color: blue;
}
/*esto es un comentario*/
.parrafo{
    color: blueviolet;
}
p.texto{/*para asignar a todas las clases del tipo texto, a etiquetas de p*/
    color: brown;
}
div p {
    color:aquamarine;
}
div h2, div h3 {/*para indicar que todas las etiquetas de div h2,h3, etc sean modificadas*/
    color: brown;
}
*{/*esto modifica toda la pantalla exepto*/
    font-size: 24px;
    color: black;
}
/*asignando colores con hexagesimal .color{
    color: #ff0000;
}*/

/*asignando colores con RGB .color {
    color: rgb(255,0,0)
}*/
.color{
/*     border: 5px black solid;
 */    /*dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden*/
    border-style: solid; /*stilo del borde*/
    border-color: blue;/*color del borde*/
    border-radius: 10px;/*el tipo de borde redondeado*/
    border-width: 5px; /*tamaño del ancho del borde, se pueden usar medidas de mm, in, pc, em y 2rem(relativo a la fuente principal HTML) */  
}
#fondo{
    height: 300px;
    background: red url('img/yo_pelo_corto.jpg') repeat-y center bottom / 100px 100px ; /*para poner todo en una sola línea*/
    /* background-color: gray;*/
    /* opacity: 0.3;*/
    /* background-image: u/rl('img/yo_pelo_corto.jpg');*/
    /* background-size: 100px 100px;*/
    /* background-repeat: repeat-y repeat-x; */ /* se puede repetir la imagen tanto horizontal, como vertical, también podemos elegir no-repeat */
    /* background-position: center ;*/ /*para elegir en que posición queremos el fondo (top - center - botton)*/
    /* background: color( red) url('img/yo_de_pelo_corto.jpg') repeat-y center bottom ; */
    /*no tendrá efecto si se utiliza después de otros background*/
    /*ver línea 47*/
    
}
.margen{
    background-color: blueviolet ;
    margin: 15px 20px 25px 30px; /*margenes externos donde 15px es top, 20px es right, 25px es bottom, 30px left*/
    padding: 30px 25px 20px 15px; /*margenes internos donde 30px es top, 25px es right, 20px es bottom, 15px left*/
    border: solid 5px black; /* borde entre margin y padding*/
    height: 100px;
    width: 50px;
    overflow: scroll; /* hidden, scroll, visible*/
    outline: 1px solid red; /*es un borde que se coloca por fuera del borde*/
}
.text {
    /* los valores de text- pueden ser -aling, -decoration, -transform, -overflow, -shadow, -indent, - rendering,
    -size-adjust, -decoration-line, -decoration-color, -wrap, -decoration-thickness */
    font-family: 'Comic Neue', sans-serif;/*Comic Neue, es traido de la página de google fonts, el link esta en el head del indext.html*/


    text-align: justify;/*center, end, justify, left, right, start*/
    text-decoration: underline wavy 6px greenyellow; /*dashed, dotted, double, line-through, none, overline, solid, underline, wavy*/
    text-shadow: 3px 5px 5px blueviolet; /*sombra del texto 1er valor abajo, 2do derecha, 3ro difuminado y luego el color*/
}
/* Propiedades de Link*/
/* a: link es uno de los estados*/
/* el orden de los selectores que se usen tienen que ser en orden, no se puede usar hover antes de link por ejemplo*/

a:link {
    color: blueviolet;
}
a:visited{
    color: grey;
}
/* hover cuando paso el raton sobre el link*/
a:hover{
    color: yellow;
}
/* active cuando estoy pinchando el link*/
a:active{
    color: chocolate;
}

/* LISTAS , se le puede agregar todos los selectores que vimos hasta ahora*/

ul{
    background-color: blueviolet;
    list-style-type:square;
    padding-left: none;
}
/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: solid 1px color(black);
    padding: 5px;
}
th {
    background-color: tomato;
    color: white;
    text-align: left;

}
tr:nth-child(even){ /*even o odd*/
    background-color: #eee;
}
tr:hover {
    background-color: gray;
    cursor: pointer; /* cursor tipo manito*/
}
span {
    display: block;
   /* display: none; elimina la línea */
   /* visibility: hidden; */
   max-width: 300px;
   background-color: red;
   color: aquamarine;
}
.inline {
    display: inline;
}
/* la diferencia entre display block y inline, es basicamente que block fuerza un salto de línea y inline cierra sin salto*/
/* los elementos que vienen por defecto con inline son: span, links y etiqueta img*/
#position { /* por defecto esta en static*/
    position: sticky;
    left: 20px;
    top: 25px;
}/*sticky utiliza la etiqueta más cercana para su utilización*/
/* FLOAT*/
.izq{
    float: left;
    width: 100px;
}
.container{ 
    height: 200px;
}
.der {
    float: right;
}
.izquierda {
    float: left;
    width: 100px;
    height: 100px;
}
.column {
    border: solid 0px black;
    border-radius: 5px;
    margin: 0 ;
    padding: 10px 0;
    width: 33.3%;
}

/* FLOAT*/
.inline-block {
    display: inline-block; /*si solo se le da la propiedad de inline (solo) no se le puede agregar la propiedad de height no widht */
    height: 55px;
    width: 100px;
    background-color: blueviolet;
}
.center { /*siempre hay que agregarle un valor diferente del 100%*/
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding: 50px 0;
    background-color: goldenrod;
    /*este es un ejemplo de como centrar*/
}
